* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}

.hidden {
    display: none;
}

.weather-block {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 20px;
}

.weather-form {
    padding: 20px;
    outline: thick double #32a1ce;
}

.weather-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weather-button {
    padding: 5px;
    border: none;
    background-color: #4b85e8;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.weather-button:hover {
    background-color: #2f5fb3;
}

#weather-information {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    height: 400px;
    width: 400px;
    margin: auto;
    padding: 20px;
    background:
            linear-gradient(130deg, #3a8bcd, white),
            linear-gradient(310deg, #3a8bcd, #035988);
}

.weather-header {
    text-align: center;
}

.weather-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 10px;
}

#temperature {
    font-family: Calibri, sans-serif;
    text-align: center;
    font-size: 40px;
    color: #8e8e8e;
}

#city {
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#weather-icon {
    display: block;
    margin-inline: auto;
}

.weather-details-header {
    text-align: center;
    padding-block: 10px ;
}

#weather-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    column-gap: 20px;
    row-gap: 20px;
    padding-block-start: 10px;
}

.accordion {
    cursor: pointer;
    border-radius: 6px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #2d579a;
}

.panel {
    padding-inline: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}