h1 {
    text-align: center;
    color: #0077ff;
    text-shadow: 1px 2px 2px #203e60;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle at center, #add0ff 0%, #ffffff 100%);
}

.portfolio-list {
    min-width: 400px;
    max-width: 600px;
    background: #ffffff;
    border-radius: 8px;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding: 10px;
    background: radial-gradient(transparent, #c0dafb 0%, #ffffff 100%);
}

.portfolio-list li {
    padding: 10px;
}

.portfolio-list a {
    text-decoration: none;
    font-weight: bold;
}

.portfolio-list a:hover {
    color: #0dcaf0;
    transition: 0.5s;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .portfolio-list {
        min-width: 300px;
    }

    .portfolio-list a {
        font-size: 20px;
    }
}