body {
  font-family: Calibri, Geneva, Arial, sans-serif;
  font-size: 14px;
  background-image: url(images/back.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header, footer {
  width: 1000px;
  margin: 0 auto 0 auto;
  background-color: #bdcdcc;
  border: 5px solid #87a7b1;
  border-radius: 10px;
}

header {
  height: 120px;
  text-align: center;
}

h1 {
  padding-top: 30px;
  font-family: Stencil, Georgia, "Times New Roman", Times, serif;
}

.logo {
  width: 75px;
  height: auto;
  float: left;
  padding: 5px;
}

nav {
  background-color: #bdcdcc;
  width: 1000px;
  margin: 5px auto 5px auto;
  border: 5px solid #698b9a;
  border-radius: 10px;
}

nav ul {
  margin: 0;
  list-style-type: none;
  padding: 5px 0 5px 0;
}

nav ul li {
  display: inline;
  padding: 5px 13px 5px 13px;
  margin: 0 -3px;
}

a:link {
  color: #0b5c75;
  text-decoration: none;
}

a:visited {
  color: #787878;
}

a.apply:visited {
  color: #0b5c75;
}

nav ul li a:link, nav ul li a:visited {
  color: #215377;
  border-bottom: none;
  font-weight: bold;
  text-transform: uppercase;
}

li.selected {
  background-color: #698b9a;
}

main {
  background-color: #bdcdcc;
  width: 980px;
  margin: 5px auto 5px auto;
  border: 5px solid #87a7b1;
  border-radius: 10px;
  padding: 5px 10px;
}

img.job {
  margin: -5px 0 0 -10px;
  padding: 0;
  width: 1000px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

h2, h3 {
  text-align: center;
}

.content {
  width: 300px;
  height: auto;
  margin: 0 340px;
  border: 4px solid #87a7b1;
  box-shadow: #7e7e7e 2px 4px 2px;
}

.vacancies {
  background-color: #627e8e;
  border: 5px solid #87a7b1;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

.contacts {
  width: 500px;
  height: auto;
  margin: 0 250px;
}

.address {
  text-align: center;
}

.map {
  margin: auto 290px;
}

a.up-panel {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #1b3368;
}

a.up-panel:visited {
  color: #1b3368;
}

a.up-panel:hover {
  background-color: #87a7b1;
}

footer {
  text-align: center;
  font-size: 10px;
}